{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "description": "This ARM template is used to deploy a VM"
    },
    "parameters": {
        "location": {
            "type": "string",
            "metadata": {
                "description": "The deployment location for all resources."
            }
        },

        "imagePublisher": {
            "type": "string"
        },
        "imageOffer": {
            "type": "string"
        },
        "imageSku": {
            "type": "string"
        },
        "imageVersion": {
            "type": "string",
            "defaultValue": "latest"
        },

        "useExistingVNet": {
            "type": "string",
            "defaultValue": "false",
            "allowedValues": ["true", "false"]
        },
        "virtualNetworkName": {
            "type": "string"
        },
        "virtualNetworkResourceGroupName": {
            "type": "string",
            "defaultValue": "[resourceGroup().name]"
        },
        "addressPrefixes": {
            "type": "array",
            "defaultValue": ["10.0.0.0/16"]
        },
        "subnetAddressPrefix": {
            "type": "string",
            "defaultValue": "10.0.0.0/24"
        },
        "networkSecurityGroupName": {
            "type": "string",
            "defaultValue": "defaultSecurityGroup"
        },
        "networkSecurityGroupRules": {
            "type": "array",
            "defaultValue": [
                {
                    "name": "SSH",
                    "properties": {
                        "priority": 300,
                        "protocol": "TCP",
                        "access": "Allow",
                        "direction": "Inbound",
                        "sourceAddressPrefix": "*",
                        "sourcePortRange": "*",
                        "destinationAddressPrefix": "*",
                        "destinationPortRange": "22"
                    }
                }
            ]
        },
        "networkInterfaceName": {
            "type": "string"
        },
        "networkInterfaceIPConfigurationName": {
            "type": "string"
        },
        "networkInterfaceIPConfigurationSubnetName": {
            "type": "string"
        },
        "virtualMachineName": {
            "type": "string"
        },
        "virtualMachineZone": {
            "type": "string",
            "defaultValue": "1"
        },
        "osDiskType": {
            "type": "string",
            "defaultValue": "StandardSSD_LRS"
        },
        "osDiskDeleteOption": {
            "type": "string",
            "defaultValue": "Delete"
        },
        "virtualMachineSize": {
            "type": "string",
            "defaultValue": "Standard_D2ps_v5"
        },
        "nicDeleteOption": {
            "type": "string",
            "defaultValue": "Delete"
        }
    },

    "variables": {
        "nsgId": "[resourceId(resourceGroup().name, 'Microsoft.Network/networkSecurityGroups', parameters('networkSecurityGroupName'))]",
        "vnetID": "[resourceId(parameters('virtualNetworkResourceGroupName'), 'Microsoft.Network/virtualNetworks/subnets/', parameters('virtualNetworkName'), parameters('networkInterfaceIPConfigurationSubnetName'))]",
        "networkSecurityGroupID": {
            "id": "[variables('nsgId')]"
        }
    },

    "resources": [
        {
            "condition": "[equals(parameters('useExistingVNet'), 'false')]",
            "name": "[parameters('virtualNetworkName')]",
            "type": "Microsoft.Network/virtualNetworks",
            "apiVersion": "2021-05-01",
            "location": "[parameters('location')]",
            "properties": {
                "addressSpace": {
                    "addressPrefixes": "[parameters('addressPrefixes')]"
                },
                "subnets": [
                    {
                        "name": "[parameters('networkInterfaceIPConfigurationSubnetName')]",
                        "properties": {
                            "addressPrefix": "[parameters('subnetAddressPrefix')]"
                        }
                    }
                ]
            }
        },
        {
            "condition": "[equals(parameters('useExistingVNet'), 'false')]",
            "name": "[parameters('networkSecurityGroupName')]",
            "type": "Microsoft.Network/networkSecurityGroups",
            "apiVersion": "2019-02-01",
            "location": "[parameters('location')]",
            "properties": {
                "securityRules": "[parameters('networkSecurityGroupRules')]"
            }
        },
        {
            "name": "[parameters('networkInterfaceName')]",
            "type": "Microsoft.Network/networkInterfaces",
            "apiVersion": "2022-11-01",
            "location": "[parameters('location')]",
            "dependsOn": [
                "[concat('Microsoft.Network/networkSecurityGroups/', parameters('networkSecurityGroupName'))]",
                "[concat('Microsoft.Network/virtualNetworks/', parameters('virtualNetworkName'))]"
            ],
            "properties": {
                "ipConfigurations": [
                    {
                        "name": "[parameters('networkInterfaceIPConfigurationName')]",
                        "properties": {
                            "subnet": {
                                "id": "[variables('vnetID')]"
                            },
                            "privateIPAllocationMethod": "Dynamic"
                        }
                    }
                ],
                "networkSecurityGroup": "[if(equals(parameters('useExistingVNet'), 'false'), variables('networkSecurityGroupID'), json('null'))]"
            }
        },
        {
            "name": "[parameters('virtualMachineName')]",
            "type": "Microsoft.Compute/virtualMachines",
            "apiVersion": "2022-03-01",
            "location": "[parameters('location')]",
            "dependsOn": [
                "[concat('Microsoft.Network/networkInterfaces/', parameters('networkInterfaceName'))]"
            ],
            "properties": {
                "hardwareProfile": {
                    "vmSize": "[parameters('virtualMachineSize')]"
                },
                "storageProfile": {
                    "osDisk": {
                        "createOption": "fromImage",
                        "managedDisk": {
                            "storageAccountType": "[parameters('osDiskType')]"
                        },
                        "deleteOption": "[parameters('osDiskDeleteOption')]"
                    },
                    "imageReference": {
                        "publisher": "[parameters('imagePublisher')]",
                        "offer": "[parameters('imageOffer')]",
                        "sku": "[parameters('imageSku')]",
                        "version": "[parameters('imageVersion')]"
                    }
                },
                  "osProfile": {
                    "computerName": "[parameters('virtualMachineName')]",
                    "adminUsername": "azureuser",
                    "adminPassword": "P@ssword1234!"
                  },
                "networkProfile": {
                    "networkInterfaces": [
                        {
                            "id": "[resourceId('Microsoft.Network/networkInterfaces', parameters('networkInterfaceName'))]",
                            "properties": {
                                "deleteOption": "[parameters('nicDeleteOption')]"
                            }
                        }
                    ]
                },
                "diagnosticsProfile": {
                    "bootDiagnostics": {
                        "enabled": true
                    }
                }
            },
            "zones": [
                "[parameters('virtualMachineZone')]"
            ]
        }
    ]
}
